.mySwitch1 {
    width: 160px;
    height: 80px;
    background-color: rgb(184, 164, 164);
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

/* ONのときの内容 */
.mySwitch1[data-ison="true"] {
    justify-content: flex-end;
    background-color: rgb(252, 71, 0);
    opacity: 1;
}

.myHandle1 {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
}
